<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.cloud_login">
    <!-- 用于访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于读取扩展存储卡文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_tea"
        android:label="白茶WT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Main_Funcation.TranslateActivity"></activity>
        <activity android:name=".Main_Funcation.CloudActivity" />
        <activity android:name=".Main_Funcation.CanvasActivity" />
        <activity android:name=".Main_Funcation.SettingActivity" />
        <activity android:name=".Login_Funcation.PhoneLoginActivity" />
        <activity android:name=".Main_Funcation.GuideActivity" />
        <activity android:name=".Main_Funcation.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_Funcation.HomeActivity" />
        <activity android:name=".Login_Funcation.FindPasswordActivity" />
    </application>

</manifest>